@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Oleo-Bold;
    src: url('../fonts/OleoScript-Bold.ttf');
}
@font-face {
    font-family: Oleo;
    src: url('../fonts/OleoScript-Regular.ttf');
}
:root {
    --gray-900: #212121;
    --gray-300: #EEEEEE;
    --gray-400: #BDBDBD;
    --amber-600: #FFB300;
    --teal-100: #B2DFDB;
    --teal-400: #26A69A;
    --teal-700: #00796B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: calc(100vh - 80px);
    min-width: 900px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: var(--gray-900);
    color: white;
    padding: 16px 32px;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
}
button:hover {
    cursor: pointer;
}

#site-name {
    font-family: 'Oleo-Bold', serif;
    font-size: 32px;
    color: var(--amber-600);
    cursor: pointer;
    padding-right: 36px;
}
.nav-bar {
    margin-left: auto;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.nav-bar ul li{
    list-style: none;
    color: white;
}
.nav-bar ul li a:hover{
    cursor: pointer;
    color: var(--amber-600);
}

/* zion added */
.cc_menu_wrapper{
    margin-right: auto;
    margin-left: auto;
    width:30%;
    height:100%;
    border-radius: 10px;
}

.cc_table {
    width:100%;
    height:100%;
    color:black;
}	

.wrapper {
    height:auto;
    width:99%;
    display:inline-block;
    margin-top:110px;
}

.cc_links {
    color:black;
    font-size:24px;
}

.cc_links:hover {
    color:white;
}

.centeredparagraph {
    text-align:center;
}

.cc_plus {
    float:right;
    height:15px;
    width:15px;
    background:url("src/img/plus_symbol.png");
}
.cc_minus{
    float:left;
    height:15px;
    width:15px;
    background:url("src/img/minus_symbol.png");
}

.cc_cart_items {
    font-size:30px;
}

.application_wrapper {
    margin-left:25%;
    margin-right:25%;
    background-color:rgba(0,0,0,0.5);
    color:#FFFFFF;
}


.label_jobapplication {
    text-align: right;
    padding-right:30px;
    margin-top: 10px;
    width:250px;
    float:left;
}

.input_jobapplication {
    margin-top:10px;
}

.submit_jobapplication {
    margin-left:250px;
    margin-bottom:15px;
}
/* end */

#cart-button {
    background-color: var(--gray-900);
    width: 125px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
#shopping-cart-icon {
    filter: invert(100%);
}
main{
    margin-top: 80px;
}
.banner {
    height: calc(100vw / 2);
    background-image: url('../img/brooke-lark-wMzx2nBdeng-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.banner h1 {
    color: black;
    font-family: "Oleo", serif;
    font-size: 48px;
}
footer {
    margin-top: 120px;
    height: 80px;
    background-color: var(--gray-900);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner button {
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
    font-size: 24px;
    background-color: var(--teal-400);
    cursor: pointer;
}
.banner button:hover {
    background-color: var(--teal-700);
}
.weekly-specials {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekly-specials h1, .menu h1, .about h1, .feedback h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Oleo', serif;
    margin-top: 40px;
    margin-bottom: 80px;
}
.item img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 24px;
}
.item {
    background-color: white;
    width: min-content;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.item-des {
    padding: 8px;
    border-top: 2px solid black;
    height: 7rem;
    background-color: var(--gray-300);
    color: black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    text-align: center;
}
.item-name {
    font-size: 18px;
}
.item-subtext {
    margin-top: 8px;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: white;
}

.menu-nav {
    padding: 26px;
    border-bottom: 1px solid black;
    margin: auto;
    background-color: var(--gray-300);
}
.menu-nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.menu-nav ul li button {
    background-color: white;
    border: 1px solid black;
    width: 120px;
    padding: 8px 0;
    border-radius: 200px;
}
.menu-nav ul li button:hover {
    background-color: black;
    color: white;
}
.menu-nav ul li button.menu-nav-selected {
    background-color: black;
    color: white;
}
.menu-container {
    margin: auto;
    max-width: 80%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
}
.menu-card img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 24px;
}
.menu-item-name {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 20px;
}
.menu-card {
    border: 1px solid black;
}
.menu-item-footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 16px;
}
.menu-item-footer button {
    background-color: var(--teal-400);
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
}
.menu-item-price {
    background-color: var(--gray-300);
    text-align: center;
    padding: 12px;
    font-size: 18px;
}
.menu-item-footer button:hover {
    background-color: var(--teal-700);
}
.about h1 {
    padding-top: 40px;
}
main.about, main.contact {
    min-height: calc(100vh - 280px);
}
main.about section {
    width: 60%;
    margin: 80px auto;
    display: flex;
    gap: 120px;
}
main.about section img {
    height: 300px;
    display: block;
}
.contact section.info {
    height: 450px;
    background-color: var(--teal-700);
}
.info-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.info-card {
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.info-card img{
    width: 64px;
    filter: invert(100%);
}
.info-card h2 {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    font-weight: 800;
}
.underline {
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-top: 24px;
    margin-bottom: 8px;
}
#social-icons {
    display: flex;
    gap: 8px;
}
.contact-form-row {
    display: flex;
    flex-direction: column;
}
.contact-form-row label{
    margin-top: 12px;
    height: 24px;
}
.contact-form-row textarea{
    resize: vertical;
    width: 250px;
    height: 180px;
    font-size: 16px;
    padding: 4px;
}
.contact-form-row input, .contact-form-row select {
    width: 250px;
    height: 36px;
    padding: 4px;
}
.contact-form-row input[type="submit"] {
    background-color: var(--teal-400);
    width: 100px;
    margin-top: 36px;
    border: none;
    border-radius: 4px;
    color: white;
}
.contact-form-row input[type="submit"]:hover { 
    background-color: var(--teal-700);
}
.contact-form-wrapper{
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#body-row {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
#submit-row {
    grid-column: 1 / 3;
}

